.main-game-toeic-speaking-2023-mar {
  background-color: #fff !important;
  padding: 24px;
  border-radius: 15px;

  .game-toeic-speaking-directions {
    * {
      &:not(strong, b) {
        font-weight: initial;
      }
    }
  }

  .game-toeic-speaking-locked-feature {
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;
  }

  .read-directions-btn {
    text-align: center;
    margin-top: 10px;
  }

  .main-game-toeic-speaking-playzone {
    .toeic-sw-child-game-object-view {
      margin-top: 16px;
      position: relative;
      .question-index {
        font-weight: bold;
      }
    }
  }
}
