.flash-card-play-game-button-next-card {
  border-radius: 50px !important;
  background: #007aff !important;
  padding: 8px 16px !important;
  color: #fff !important;
  &:hover {
    background: #007aff !important;
  }
}
