.app-download-btn {
  display: flex;
//   border-radius: 15px;
//   height: 75px;
//   width: 220px;
  align-items: center;
  justify-content: center;
//   padding: 0 24px;
//   cursor: pointer;
//   @media (max-width: 768px) {
//     height: auto;
//     width: 185px;
//     padding: 0 ;
//     justify-content: space-around;
//   }
}

// .app-download-icon {
//   height: 36px;
// }

// .app-download-desc {
//   margin-left: 9px ;
//   .app-download-cta {
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     @media (max-width: 768px) {
//       font-size: 10px;
//     }
//   }
//   .app-download-src {
//     font-weight: 600;
//     font-size: 18px;
//     line-height: 27px;
//     @media (max-width: 768px) {
//       font-size: 13px;
//     }
//   }
// }