@import "../../styles/mixins.scss";
.topic-item-component {
  box-shadow: 0 15px 30px rgba(95, 73, 118, 0.1);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  &--hover {
    transition: all 0.3s;
    &:hover {
      transform: translateY(-8px);
      .topic-score-ver2-background {
        transform: scale(1.2);
      }
    }
  }
  .locked-topic-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(192, 210, 235, 0.4);
    border-radius: 0 15px 0 15px;
  }
  .topic-avatar-container {
    display: block;
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
    .topic-avatar {
      object-fit: cover;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      transition: transform 0.4s ease-in-out;
    }
  }

  .topic-score {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: #2d3169;
    color: #fff;
    height: 130px;

    &-ver2 {
      height: 130px;
      overflow: hidden;
      transform: translateZ(0);
      .topic-score--content {
        color: #fff !important;
        font-size: 16px;
      }
      &-background {
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    &--num { 
      font-weight: 700;
      font-size: 40px;
      line-height: 38px;
      z-index: 1;
    }
    &--content {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #9598ba;
      z-index: 1;
    }
    &--newitem {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #636cf5;
      padding: 5px 10px;
      color: #fff;
      border-radius: 0 15px 0 0;
      font-size: 10px;
      font-weight: 600;
    }
  }

  .topic-meta {
    padding: 8px 16px 18px 16px;
    position: relative;
    .topic-name-text {
      @include ellipsis-text(2);
      color: #000 !important;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      height: 48px;
      &-view {
        display: flex;
        line-height: 0;
        .countPracticedUsers {
          display: flex;
          align-items: end;
          font-size: 12px;
          color: #828282;
          margin-left: 10px;
          height: 9px;
        }
      }
    }

    .topic-meta-content {
      display: flex;
      justify-content: space-between;
      margin-top: 21px;

      .topic-meta-value,
      .topic-meta-name {
        color: #505050;
        font-size: 14px;
        line-height: 21px;
      }
      .topic-meta-value {
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
  }

  &:hover {
    .topic-avatar-container {
      .topic-avatar {
        transform: scale(1.2);
      }
    }
  }
}
