.alevel-maths-prep-subject-view {
  .title-h1 {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
  }
  .summary {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
    font-size: 18px;
  }
  .subject-data-list {
    margin-top: 24px;
  }
}
