.mod-game-toeic-spk-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-btn-wrap {
    position: relative;
    margin-bottom: 10px;
    .mod-game-toeic-spk-cd-main-btn {
      background-color: #FFB800 !important;
      color: #fff !important;
      min-width: 240px;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 600;
      z-index: 1;
    }
    .mod-game-toeic-spk-cd-bg-layer {
      position: absolute;
      height: 12px;
      z-index: 0;
      bottom: -6px;
      min-width: 240px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: #EB8D00;
    }
  }

  .mod-game-toeic-spk-cd-clock {
    text-align: center;
    display: flex;
    align-items: center;
  }
}