.site-breadcrumbs {
  margin-top: 2em !important;
}

.wp-post-publish-date {
  display: flex;
  align-items: center;
}

.wp-post-publish-watched {
  display: flex;
  align-items: center;
}

.heading-recent-posts {
  font-size: 1.7rem;
  margin-bottom: 12px;
}
