.custom-test-list-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.create-test-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
  cursor: pointer;
}