#flash-card-end-view {
  background: #fff;
  border-radius: 15px;
  padding: 40px 10px 80px;

  .done-view-title {
    text-align: center;
    color: #1d1d1d;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }

  .done-view-image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }

  .flash-card-end-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .flash-card-end-btn {
      width: 180px;
      height: 40px;
      border-radius: 50px;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 1px;

      &.end-btn {
        border: 2px solid #007aff;
        color: #007aff !important;
        margin-right: 16px;
      }

      &.play-game-btn {
        background: #007aff !important;
        color: #fff !important;
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;

      .flash-card-end-btn.end-btn {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }
}