.auth-form {
  min-width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  @media (max-width: 576px) {
    width: 100%;
  }

  .title {
    color: #29313A;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }

  .auth-form-item {
    display: flex;
    align-items: center;

    .item-name {
      color: #313334;
      font-size: 20px;
      font-weight: 600;
      width: 25%;
    }

    .input-item {
      background: #FBFBFB;
      border: 1px solid #F1F3F5;
      border-radius: 10px;
      padding: 10px;
      margin: 10px 0 20px;
      width: 100%;
    }
  }

  .forgot-password {
    color: #5D87F1;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 30px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .auth-form-btn {
    text-align: center;

    .btn-submit {
      background: #656EF1;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      border-radius: 20px;
      padding: 7px 40px;
    }
  }

  .divider {
    padding: 20px 50px;
    color: #898989;
    font-size: 18px;
    font-weight: 400;
  }

  .auth-login-sso {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 20px;
    &-button {
      width: 40px;
      &.auth-login-with-google {
        width: auto;
      }
      height: 40px;
      color: #ccc;
      button {
        width: 100%;
        height: 100%;
        min-width: auto;
        padding: 0;
      }
    }
  }

  .auth-form-nav {
    text-align: center;
  }

  .auth-error-msg {
    color: red;
    font-size: 12px;
    border-top: 1px solid red;
  }
}