.game-module-skill-tutorial-view {
  border: 1px solid #000;
  padding: 8px;
  text-align: justify;
  .skill-part-name {
    font-weight: bold;
    font-size: 20px;
  }
  .tutorial-skip-button {
    text-align: center;
    margin: 10px 0;
    @-webkit-keyframes delay-rotation {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(180deg);
      }
    }
    @keyframes delay-rotation {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(180deg);
      }
    }
    .tutorial-countdown-icon {
      -webkit-animation: delay-rotation 1s infinite forwards;
      animation: delay-rotation 1s infinite forwards;
      margin-right: 4px;
    }
  }
}
