@mixin custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #d0d0d0 #f9f9f9;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 7px;
    background: #f9f9f9;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #d0d0d0;
    &:hover {
      background: #8a8a8a;
    }
  }
}