@import "../../../styles/mixins.scss";

#sub-topic-list {
  margin-right: auto !important;
  height: 80vh;
  overflow: auto;
  @include custom-scroll();
  &.sub-topic-grid-view {
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    .sub-topic-item {
      width: calc(100% / 3 - 5px);
      margin: 0;
    }
  }
  .sub-topic-item {
    color: #777777;
    border-radius: 15px;
    font-size: 14px;
    line-height: 21px;
    height: 55px;
    display: flex;
    padding: 0 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    padding-top: 11px;
    background: #fff;
    &-header {
      display: flex;
      justify-content: space-between;
    }
    &-name {
      @include ellipsis-text(1);
    }
    &.tablet {
      background: #f2f3f7;
      &.sub-active {
        background: #f2f3f7;
        font-weight: 500;
      }
    }
    &:hover {
      background: #1976d20a;
    }
    &.sub-active {
      color: #007aff;
      font-weight: 500;
    }
    .sub-topic-progress {
      display: flex;
      align-items: center;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 0 25px;
      left: 50%;
      transform: translateX(-50%);
      .sub-topic-progress-bar {
        background-color: #d1d3da;
        &.tablet {
          background-color: #fff;
        }
      }
    }
    .sub-topic-progress-ielts {
      font-size: 12px;
      font-weight: 700;
      position: absolute;
      right: 16px;
    }
  }
}
